	ul{
		list-style: none;
	}
	a{
	    text-decoration: none;
	
	}
	
	
	/*蒙层*/
	#container .modal{
		width: 100%;
		height: 40px;
		background: rgba(0,0,0,.3);
		position: absolute;
		left: 0;
		bottom: 0;
		line-height: 40px;
		padding: 0 40px;
		box-sizing: border-box;
	}
	#container .modal .title{
		float: left;
		color: #fff;
		font-size: 12px;
	}
	/* 原点 */
	#container .modal .dots{
		float: right;
		position: absolute;
		bottom: 10px;
		left: 600px;
	}
	/* 原点大小 */
	#container .modal .dots li{
		width: 8px;
		height: 8px;
		border-radius: 50%;
		float: left;
		/*可以使用行块盒*/
		/*display: inline-block;*/
		margin: 0 5px;
		cursor: pointer;
	}
	.clearfix::after{
		content: "";
		display: block;
		clear: both;
	}
	.on{
		background-color: white;
	}
	.off{
		background-color: gray;
	} 
	

	.text h1 {
		text-align: center;
		font-size: 25px;
		margin-top: 10px;
		color: rgb(#3E3E3E);
		margin-bottom: 15px;
	}
	
	.text .miaoshu {
		width: 34%;
		margin: 0 auto;
		text-align: center;
		font-size: 14px;
		color: rgb(155, 155, 155);
		margin-bottom: 20px;
	}
	
 	.div1{
	 	    border:9px ridge white;
			display: flex;
			background-color: aliceblue;
		} 
	.div1 h3{
		color: #000000;
		margin-top: 30px;
		margin-left: 200px;
		margin-bottom: 20px;
	}
	.div1 p{
		margin-bottom: 20px;
		margin-left: 260px;
		color: #000000;
		
	}

	 
	.div1 img{
	
	    width:540px;
	    height: 580px;
		float: left;
	    transition:all 0.6s;
		margin-top: 15px;
		margin-left: 15px;
	}
	.div2{
	
		border: 9px ridge white;
		width: auto;
		display: flex;
		background-color: aliceblue;
	}
	.div2 h3{
		color: #000000;
		margin-top: 27px;
		margin-left:135px;
		margin-bottom: 20px;
	}
	.div2 p{
		margin-bottom: 20px;
		margin-left: 190px;
		color: #000000;
		
	}
	.div2 img{
		
	    width:540px;
	    height: 540px;
	    transition:all 0.6s;
		margin-top: 15px;
		margin-bottom: 10px;
		margin-left:270px;
	}
	
	.div4 h1{	
		color:black;
		margin-top: 10px;
		font-size: 24px;
        text-align: center;
    }
	.div4{

		background-color: aliceblue;
		width: auto;
	}
    .div4 img{
	
        width:340px;
        height: 280px;
        transition:all 0.6s;
        margin-left:5%;
        margin-bottom: 20px;
		border: 1px ridge whitesmoke
    }
    */
    
	.div4 p{
		color: white;
		font-size:25px;
		margin-bottom: 10px;
		margin-left:560px;
	}
	.div5{
		background-color:black;
		opacity: 0.6;
	}
	.div5 p{
		padding: 10px;
		padding-bottom: 10px;
		color: white;
		text-align: center;
	}
